{% extends 'cloudmesh_gitissues/layout/index.jinja' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}


<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#dictTable').DataTable({
           aLengthMenu: [
                [10, 20, 50, 100, 200, -1],
                [10, 20, 50, 100, 200, "All"]
            ],
            iDisplayLength: 10,
            responsive: true,
        });
    } );
</script>

<form>
<table  id="dictTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            {% if header %}
                {% for attribute in header %}
                        <th> {{ attribute }} </th>
                {% endfor %}
            {% else %}
                {% for attribute in order %}
                        <th> {{ attribute }} </th>
                {% endfor %}
            {% endif %}
        </tr>
    </thead>
    {% if data is mapping  %}
    <tbody>
        {% for element in data %}
        <tr>

            {% for a in order %}
               <td>
                   {% if a in ["st","status", "avail", "state", "down", "active"] %}
                        {{ state_color(data[element][a]) |safe }}
                   {% else %}
                   {% if a in ["default"] %}
                        {{ data[element]["default"] }}
                        <input type="radio"
                               name="checkbox-default"
                               value={{data[element]["name"]}}
                               {% if data[element]["default"] == 'True' %} checked {% endif %} >
                        {% if data[element]["default"] == 'True' %} x {% endif %}
                        {{ state_color(data[element][a]) |safe }}
                   {% else %}
                        {{ data[element][a] | safe}}
                   {% endif %}
                   {% endif %}

               </td>

            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}
</table>
</form>


{% endblock %}
