{% extends 'cloudmesh_gitissues/layout/index.jinja' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#dictTable').DataTable({
           aLengthMenu: [
                [10, 20, 50, 100, 200, -1],
                [10, 20, 50, 100, 200, "All"]
            ],
            iDisplayLength: 500,
            responsive: true,
        });
    } );
</script>

<form>
<table  id="dictTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            {% if header %}
                {% for attribute in header %}
                        <th> {{ attribute }} </th>
                {% endfor %}
            {% else %}
                {% for attribute in order %}
                        <th> {{ attribute }} </th>
                {% endfor %}
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for element in data %}
        <tr>

            {% for a in order %}
               <td>

                   {% if a in ["number"] %}
                     <a href="https://github.com/{{location}}/issues/{{element["number"]}}">
                        {{ element[a] | safe}}
                     </a>
                   {% endif %}

                   {% if a in ["assignee"] %}
                       {{ element[a]["login"] | safe}}
                   {% endif %}

                   {% if a in ["milestone"] %}
                       {{ element[a]['title'] | safe}}
                   {% endif %}

                   {% if a in ["labels"] %}
                       {% for label in element[a] %}
                        <font style="color: black; background-color: #{{label['color']|safe}}">
                        &nbsp {{ label['name'] | safe}} &nbsp
                        </font> &nbsp
                       {% endfor %}
                   {% endif %}


                   {% if a in ["priority", "title"] %}
                        {{ element[a] | safe}}
                   {% endif %}

               </td>

            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>

</table>
</form>


{% endblock %}
